
#intro
  width: 100%
  height: 90vh
  display: flex
  flex-direction: column
  justify-content: flex-end
  .intro-content
    display:flex
    padding-left: 1px
    box-sizing:border-box
    padding: 10px 100px 0
    justify-content: center
    align-items: center
    width:100%
    flex-grow: 1
    .intro-content-l      
      width: 43em
      margin-right: 3.125em
      img
        width: 550px
    .intro-content-r
      padding: 0 40px
      display: flex
      align-items: flex-start
      flex-direction: column
      .item-1
        display:flex
        flex-direction:column
        img
          width:8em
      .title-text
        color: #5C5C5C
        font-size: 3.625em
        width:435px
        margin: 25px 0 0
        position:relative
        font-weight: bold
      .content-text
        color: #878787
        font-size: 1.875em
      .item-2
        display: flex
        margin-top: 2em
        border-radius: 30px
        flex-wrap: wrap
        align-items: stretch
        .text-scan
          margin: 15px auto
          text-align: center
          font-size: 16px
        .download
          padding: 0.5em 0
          display: flex;
          flex-direction: column;
          justify-content: space-between
          .shortbt
            width: 12em !important
          .dlbutton 
            background: #fff
            width: 13.8em
            height: 3em
            border-radius: 1.75em
            color: #3B8EF3
            display: flex
            align-items: center
            font-size: 1.125em
            box-sizing: border-box
            a
              color: #3B8EF3
            .fa
              padding: 0 0.4em 0 0.9em
              font-size: 1.56em
            &:hover
              background: #3B8EF3
              color: #fff
              box-shadow: 1px 1px 24px 5px rgba(0,72,255,0.23)
              a
                color: #fff
          #windows
            margin-bottom: 1em
          #mac
            margin-bottom: 1em
          
        
        .QRcode
          position:relative
          z-index: 1
          margin-left: 2em
          background: #fff
          padding: 10px
          border-radius: 10px
          img
            width:8em
  .ellipse
    width: 100%
    height: 50px
    background-color: $lightblue
    border-radius: 50%
    position: relative
    z-index: 2
  .intro-content-b
    display:flex
    justify-content:center
    height: 100px
    background: #4F8AE7
    position: relative
    padding-top: 30px
    flex-wrap: wrap
    .switch-download
      width:12em
      height:58px
      border-radius:10px
      font-size: 1.5em
      margin: 0 2em
      background: #fff
      text-align: center
      line-height: 58px
      color:#2575D8
      box-sizing: border-box
      .fa
        padding-right: 10px
        font-size: 1.7em
        position: relative;
        top: 9px
    .button-blue
      background: #4F8AE7
      color:#fff
      border:2px solid #FFF
      box-shadow:1px 1px 24px 5px rgba(0,72,255,0.23)
      border-radius:10px

@media screen and (max-width: 1366px)
  #intro
    .intro-content
      padding: 10px 10px 0
      .intro-content-l
        width: 35em
        img
          width:450px

@media screen and (max-width: 900px)
  #intro
    height: 100vh
    .intro-content
        padding: 8% 0 0 !important
        display:flex
        flex-wrap: wrap
        .intro-content-l
          width: 50%
          margin: 0
          img
            width:100%
        .intro-content-r
          .item-1
            text-align: center
            .item-1-img
              display:none
            .title-text
              width: 100% !important
              margin: 0
              font-size: 3em
            .content-text
              font-size: 1.5em
          .item-2
            margin-top: 0.7em
            .QRcode
              display:none
    .intro-content-b
      height: 70px !important
      .switch-download
        font-size: 1em
        height: 3.5em
        line-height: 3.5em
        margin: 0 0.3em
        .fa
          width: 1em
          padding-right: 0.2em
  

@media screen and (max-width: 560px)
  #intro
    .intro-content
      .intro-content-r 
        align-items: center !important
        .item-2
          justify-content: center
          .QRcode
            margin-left: 0.5em !important
          .download 
            .dlbutton
              margin: 0.5em 0
