
$width = 900px
$space = 40px


.indexs
  background-color: #2A2A2A
  &.sidebar
    display:none
  a
    color:#fff
  .top
    background-color: transparent
#logo
  span
    font-size: 1.2em
    vertical-align: middle
    color: #fff
#hero,
#news
  
  background-color: #fff
  background:url(/i mages/banner_1.jpg) no-repeat
  overflow:hidden
  background-size:cover
  padding-bottom: 22%
  .inner
    max-width: $width * 1.4
    margin: 0 auto
    
  .left, .right
    display: inline-block
    vertical-align: top
  .left
    width: 50%
  .right
    width: 61%
  .hero-logo
    width: 215px
    height: 215px
    float: right
    margin-right: 60px
  h1
    font-weight: bold
    margin: 0
    font-size: 60px
    background: linear-gradient(to right, #03F1BE, #96F33D);
    -webkit-background-clip: text;
    color: transparent;
  h2
    font-family: $logo-font
    font-weight: 500
    font-size: 2.4em
    margin: 0 0 10px
    display: none
  .button
    margin: 1em 0
    font-size: 1.05em
    font-weight: 600
    letter-spacing: .1em
    min-width: 8em
    text-align: center
    &:not(:last-child)
      margin-right: 1%
  .social-buttons
    list-style-type: none
    padding: 0
    li
      display: inline-block
      vertical-align: middle
      margin-right: 15px
  & p
    display: flex
    flex-wrap: wrap

#news
  padding: $space 20px 70px
  text-align: center
  p
    margin-top: 10px
  a
    color: $green
  .newsletter-form
    position: relative
    max-width: 550px
    margin: 0 auto
    box-sizing: border-box
  .newsletter-input
    width: 100%
    box-sizing: border-box
    padding: 10px 80px 10px 20px
    height: 50px
    border-radius: 50px
    border: 1px solid #ccc
    font-size: 16px
    &:focus
      outline: none
      border-color: #42b983
  .newsletter-button.button
    position: absolute
    padding: 4px 20px
    margin: 0
    height: calc(100% - 8px)
    right: 4px
    top: 4px

#special-sponsor
  background-color: #fff
  text-align: center
  padding-bottom: 30px
  h3
    margin 0
  a
    color $light
  a, span, img
    display: inline-block
    vertical-align: middle
  img
    margin: 15px

#highlights
  background-color: #f2f2f2
  padding-bottom: 70px
  .inner
    max-width: $m-width
    margin: 0 auto
    text-align: center
    padding: 20px 0
    
  .point
    width: 23.4%
    vertical-align: top
    box-sizing: border-box
    padding: 28px 2em
    background: #fff
    border-radius: 20px
    h2
      color: #333
      font-size: 20px
      font-weight: bold
      margin: 0
      padding: 30px 0
      position: relative
      &:after
        content: ""
        display: block
        position: absolute
        bottom: 0
        left: 43%
        width: 14%
        height: 4px
        background: #999
    p
      color: $light
    > img
        width: 9em
    


#footer
  padding: $space 0
  color: #fff
  text-align: center
  .social-icon
    margin 0 30px
    img
      width 44px
      height 44 px
  a
    font-weight: 700
    color: #fff

@media screen and (max-width: $width)
  body
    -webkit-text-size-adjust: none
    font-size: 14px
  .sidebar
    display: block
  #header
    display: none
  #mobile-bar
    display: block
  #hero
    padding: $space 40px 30px
    .hero-logo
      float: none
      margin: 30px 0 15px
      width: 140px
      height: 140px
    .left, .right
      text-align: center
      width: 100%
    h1
      font-size: 2em
    h2
      display: block
    .button
      font-size: .9em
    & p
      justify-content: center
  #special-sponsor
    span
      display: block
    img
      width: 125px
  #highlights
    .point
      display: block
      margin: 20px auto
      width: 300px
      padding: 0 40px 30px
     
      

@media screen and (min-width: $m-width)
  #hero    
    background-color: #fff;
    background: url(/images/banner_1.jpg) no-repeat;
    overflow: hidden;
    background-size: cover;
    padding-bottom: 30%;
  .banner    
    top: 200px !important
    padding: 0 100px
    

.banner
    max-width: 1440px
    margin:0 auto
    position: relative
    top: 150px
    padding: 0 100px


@media screen and (max-width: $width)
  .banner
    top: 0
    padding: 0
    h2 
      color: #fff
  #footer 
    .social-icon
      margin: 0 10px

@media screen and (min-width: $width)
  #highlights
    .inner
      padding: 90px 100px 74px
      display: flex
      justify-content: space-between