
$width = 900px
$space = 40px


body
  background-color: $lightblue
.indexs
  background-color: #CFE4FF
  .i-left
    margin-left: 50px
    width: 40%
  .fillcolor
    background:#f2f2f2
    max-width: none

  a
    color:#fff
  .top
    background-color: transparent
#logo
  span
    font-size: 1.2em
    vertical-align: middle
    color: #fff

#mobile-bar
  &.top
    background-color: transparent
    box-shadow: none
    .logo
      display: none

#hero,
#news
  overflow:hidden
  background-image: url(../images/bg_banner.png)
  background-repeat: no-repeat
  background-size: cover
  padding-bottom: 2%
  background-position-y: -150px
  .inner
    max-width: $width * 1.4
    margin: 0 auto
  .banner
    position: relative
    top: 50px
    display:flex
    justify-content:center
    align-items: center
    margin: 20px 50px
    .i-right
      img
        width: 100%
  .i-right
    position:relative
    width:35%
    &:after
      content: ''
      background:url(../images/d_line.png)
      position: absolute
      top: 1em
      right: 1em
      background-size: 100%
      background-repeat: no-repeat
      width: 8.7em
      height: 4em
  .i-left
    position:relative
    vertical-align: top
    margin-right:50px
    margin-top: 50px
    padding-bottom: 3em
    &:after
      content: ''
      background:url(../images/d_line.png)
      position: absolute
      top: -8em
      left: -8em
      background-size: 100%
      background-repeat: no-repeat
      width: 8.5em
      height: 4em
  .hero-logo
    width: 215px
    height: 215px
    float: right
    margin-right: 60px
  .text-top
    font-weight: bold
    font-size: 5.3em
    color: #585858
  .text-bottom
    font-size: 4.2em
    color: #4F8AE7
    margin-bottom: 30px
  h2
    font-family: $logo-font
    font-weight: 500
    font-size: 2.4em
    margin: 0 0 10px
    display: none
  .button
    border:2px solid #2575D8
    border-radius: 34px
    color: #2575D8
    margin: 1em 0
    padding: 0.75em 1em
    font-size: 1.375em
    font-weight: bold
    min-width: 5em
    text-align: center
    &:hover
      background: #2575D8
      box-shadow:11px 17px 24px 5px rgba(0,72,255,0.23)
      color:#FFFFFF
    &:not(:last-child)
      margin-right: 2%
    .fa
      font-size: 40px
      position: absolute
      left: 9px
      top: 12px
  .git
    min-width: 8em
  .social-buttons
    list-style-type: none
    padding: 0
    li
      display: inline-block
      vertical-align: middle
      margin-right: 15px
  & p
    display: flex
    flex-wrap: wrap

#special-sponsor
  background-color: #fff
  text-align: center
  padding-bottom: 30px
  h3
    margin 0
  a
    color $light
  a, span, img
    display: inline-block
    vertical-align: middle
  img
    margin: 15px

#highlights
  padding: 70px 0
  background: #fff
  .point-title
    max-width: $m-width
    text-align: center
    colot: #585858
    font-size: 3em
    margin: 0 auto
    position:relative
    &:after
      content:''
      width:8%
      height:5px
      background: #009DFF
      position: absolute
      bottom: -20%
      left: 46%
  .inner
    padding: 90px 200px 74px
    text-align: center
    
  .point
    width: 23%
    vertical-align: top
    box-sizing: border-box
    padding: 28px 2em
    border-radius: 20px    
    box-shadow:0px 0px 40px 0px rgba(15,100,202,0.1)
    border-radius:20px
    background:#FFFFFF
    h2
      color: #333
      font-size: 20px
      font-weight: bold
      margin: 0
      padding: 30px 0
      position: relative
      &:after
        content: ""
        display: block
        position: absolute
        bottom: 0
        left: 43%
        width: 14%
        height: 2px
        background: #333
    p
      color: $light
      font-size: 1.16em
    > img
        height: 30%
        max-height: 9em


#footer
  padding: $space 0
  background-color: #fff
  text-align:center
  position: relative
  color: #fff
  .oval
    height:80px
    border-radius:50%
    background: #7AB4FF
  .footer-icon
    margin-top: -40px
    background: #7AB4FF
    position: absolute
    width: 100%
    height: 12em
  .social-icon
    margin 0 30px
    img
      width 4.375em
      height 4.375em
  a
    font-weight: 700
    color: #fff




@media screen and (min-width: $width)
  #highlights
    .inner
      display: flex
      justify-content: space-between

@media screen and (max-width: 1680px)
  #hero .button .fa
    font-size: 1.5em
  #footer
    padding: 20px 0

@media screen and (max-width: $m-width)
  body
    -webkit-text-size-adjust: none
    font-size: 14px
  #hero
    padding-bottom: 6%
    background-position-y: -60px

@media screen and (max-width: 1200px)
  #hero
    background-size: cover
    padding-bottom: 10%
    background-position-y: 0

@media screen and (max-width: $width)
  body
    -webkit-text-size-adjust: none
    font-size: 14px
  .sidebar
    display: block
  .banner
    top: 0 !important
    padding: 0
    margin: 0 !important
    flex-wrap: wrap
    .i-left
      margin-left: 10px !important
      margin-right: 10px !important
      width: 100%
      text-align: center
      &:after
        display:none
    .i-right
      width: 55% !important
      &:after
        display:none
    .text-top
      font-size: 4em !important
    .text-bottom
      font-size: 3em !important
  #header
    display: none
  #mobile-bar
    display: block
  #hero
    padding-top: $space
    background-position-y: 100%
    padding-bottom: 0%
    background-size: 100%
    .hero-logo
      float: none
      margin: 30px 0 15px
      width: 140px
      height: 140px
    h1
      font-size: 2em
    h2
      display: block
    .button
      font-size: .9em     
    & p
      justify-content: center
    .button
      .fa
        font-size: 16px;
        line-height: 6px;
  #special-sponsor
    span
      display: block
    img
      width: 125px
  #highlights
    .inner
      padding: 90px 0
      .point
        display: block
        margin: 20px auto
        width: 300px
        padding: 30px 40px 30px
  #footer
    .social-icon
      margin: 0 10px

@media screen and (min-width: 2000px)
  #hero .i-left
    max-width: 1050px
  