@import "_common"
@import "_header"
@import "_sidebar"
@import "_sponsors-index"
@import "_modal"

$width = 900px
$space = 40px


body
  background-color: $lightblue
.indexs
  background:#CFE4FF
  a
    color:#fff
#logo
  span
    font-size: 1.2em
    vertical-align: middle
    color: #fff
.sidebar
  display: none

#mobile-bar
  &.top
    background-color: transparent
    box-shadow: none
    .logo
      display: none

#hero,
#news
  overflow:hidden
  background-image: url(../images/bg_banner.png)
  background-repeat: no-repeat
  background-size: cover
  background-position-y: 80%
  .inner
    max-width: $width * 1.4
    margin: 0 auto
  .banner
    position: relative
    top: 2em
    display:flex
    justify-content:center
    align-items: center
    margin: 1em 3em
  .i-right
    width:35%
    position:relative
    &:after
      content: ''
      background:url(../images/d_line.png)
      position: absolute
      top: 1em
      right: 1em
      background-size: 100%
      background-repeat: no-repeat
      width: 8.7em
      height: 4em
    img
      width: 100%
  .i-left
    margin-right:50px
    margin-top: 50px
    vertical-align: top
    position:relative
    padding-bottom: 3em
    &:after
      content: ''
      background:url(../images/d_line.png)
      position: absolute
      top: -25%
      left: -8em
      background-size: 100%
      background-repeat: no-repeat
      width: 8.5em
      height: 3em
  .hero-logo
    width: 215px
    height: 215px
    float: right
    margin-right: 60px
  .text-top
    font-weight: bold
    font-size: 5.3em
    color: #585858
  .text-bottom
    font-size: 4.2em
    color: #4F8AE7
    margin-bottom: 30px
  h2
    font-family: $logo-font
    font-weight: 500
    font-size: 2.4em
    margin: 0 0 10px
    display: none
  .button
    border:2px solid #2575D8
    border-radius: 34px
    color: #2575D8
    margin: 1em 0
    padding: 0.75em 1em
    font-size: 1.375em
    font-weight: bold
    min-width: 5em
    text-align: center
    &:hover
      background: #2575D8
      box-shadow:11px 17px 24px 5px rgba(0,72,255,0.23)
      color:#FFFFFF
    &:not(:last-child)
      margin-right: 2%
    .fa
      font-size: 40px
      position: absolute
      left: 0.5em
      top: 12px
  .git
    min-width: 8em
    span
      padding-left:1em
  .social-buttons
    list-style-type: none
    padding: 0
    li
      display: inline-block
      vertical-align: middle
      margin-right: 15px
  & p
    display: flex
    flex-wrap: wrap

#special-sponsor
  background-color: #fff
  text-align: center
  padding-bottom: 30px
  h3
    margin 0
  a
    color $light
  a, span, img
    display: inline-block
    vertical-align: middle
  img
    margin: 15px

#highlights
  padding: 4em 0 1em
  background: #fff
  .point-title
    max-width: 400px
    text-align: center
    color: #585858
    font-size: 2.5em
    margin: 0 auto
    position:relative
    font-weight: bold
    &:after
      content:''
      width:16%
      height:5px
      background: #009DFF
      position: absolute
      bottom: -40%
      left: 42%
    &:before
      content:'PLATFORM ADVANTAGE'
      font-size: 80px
      font-weight:bold
      width:200%
      height:5px
      opacity:0.05
      position: absolute
      top: -80%
      left: -50%
  .inner
    padding: 5em 0 3em
    text-align: center
    
  .point
    width: 20em
    margin: .8em
    vertical-align: top
    box-sizing: border-box
    padding: 2em 2em .5em
    border-radius: 20px    
    box-shadow:0px 0px 40px 0px rgba(15,100,202,0.1)
    border-radius:20px
    background:#FFFFFF
    transition: all .5s
    &:hover
      transform: scale(1.06)
    h2
      color: #333
      font-size: 1.25em
      font-weight: bold
      margin: 0
      padding: 1em 0
      position: relative
      &:after
        content: ""
        display: block
        position: absolute
        bottom: 0
        left: 43%
        width: 14%
        height: 2px
        background: #333
    p
      color: $light
      font-size: 1em
    > img
        height: 45%
        max-height: 9em
    
#uuoswallet
  height: 100%
  overflow: hidden
  padding: 3em 0
  background: #fff
  .point-title
    max-width: 400px
    text-align: center
    color: #585858
    font-size: 2.5em
    margin: 0 auto
    position:relative
    font-weight: bold
    margin-bottom: 1em
    &:after
      content:''
      width:16%
      height:5px
      background: #009DFF
      position: absolute
      bottom: -40%
      left: 42%
    &:before
      content:'UUOS WALLET'
      font-size: 80px
      font-weight:bold
      width:200%
      height:5px
      opacity:0.05
      position: absolute
      top: -80%
      left: -50%
#mobile
  height: 100%
  overflow: hidden
  padding-top: 10em
  
  .mobileup
    display: flex
    height: 31.25em
    background: #CFE4FF
    position: relative
    justify-content: center
    .mobileleft
      width: 30em
      margin-left: 3em
      margin-right: 2em
      .uuosmobile
        color: #333333
        font-size: 2.25em
        font-weight:bold
        margin-bottom: .5em
        margin-top: 3.5em
      .uuosmobile-content
        font-size:18px
        color: #666666
        position: relative
        &:after
          content:''
          width:60px
          height:7px
          background: #666666
          position: absolute
          bottom: -4em
          left: 0%
    .mobileright
      width: 37em
      .mobileimg
        position: relative
        top: -9em
        width: 37em
.download-section
  padding-top: 9em
  .download-text
    color: #009DFF
    font-size: 1.875em
    padding: 0 1em
    font-weight:bold
    text-align:center
  .download-button
    display: block
    background:linear-gradient(-90deg,rgba(71,83,232,0.95),rgba(82,154,241,0.95))
    border-radius:40px
    width: 10em
    height: 2em
    margin: 36px auto
    color: #FFFFFF
    font-size:2.25em
    text-align:center
    line-height: 2em
    font-weight:bold
#desktop
  height: 100%
  overflow: hidden
  padding-top: 12.5em
  
  .desktopup
    display: flex
    height: 27em
    background: #CFE4FF
    position: relative
    justify-content: center
    
    .desktopleft
      width: 58em
      .mobileimg
        position: relative
        top: -7em
        width: 58em
      
    .desktopright
      width: 20em
      .uuosdesktop
        color: #333333
        font-size: 2.25em
        font-weight:bold
        margin-bottom: .5em
        margin-top: 2.5em
      .uuosdesktop-content
        font-size:18px
        color: #666666
        position: relative
        &:after
          content:''
          width:60px
          height:7px
          background: #666666
          position: absolute
          bottom: -4em
          left: 0%

    
#footer
  padding: $space 0
  background-color: #fff
  text-align:center
  position: relative
  color: #fff
  .oval
    height:80px
    border-radius:50%
    background: #7AB4FF
  .footer-icon
    padding-top: 6em
    position: absolute
    width: 100%
    height: 16em
    background: linear-gradient(-90deg,rgba(71,83,232,0.95),rgba(82,154,241,0.95))
  .social-icon
    margin 0 30px
    img
      width 4.375em
      height 4.375em
  a
    font-weight: 700
    color: #fff

     
      
 

@media screen and (min-width: $width)
  #highlights
    .inner
      display: flex
      justify-content: center

@media screen and (max-width: 1680px)
  #hero .button .fa
    font-size: 1.5em

@media screen and (max-width: $m-width)
  body
    font-size:14px
  #hero
    .banner
      top: 0
    .i-left
      margin-left: 100px
  #highlights
    .inner
      padding: 3em 100px

@media screen and (max-width: 1200px)
  #hero
    background-size: cover
    padding-bottom: 10%
    background-position-y: 0

@media screen and (max-width: $width)
  body
    -webkit-text-size-adjust: none
    font-size: 14px
  .sidebar
    display: block
  .banner
    top: 0 !important
    padding: 0
    margin: 0 !important
    flex-wrap: wrap
    .i-left
      margin-left: 50px !important
      width: 100%
      text-align: center
      &:after
        display:none
    .i-right
      width: 55% !important
      &:after
        display:none
    .text-top
      font-size: 4em !important
    .text-bottom
      font-size: 3em !important
  #header
    display: none
  #mobile-bar
    display: block
  #hero
    padding-top: $space
    background-position-y: 101%
    padding-bottom: 0%
    background-size: 100%
    .hero-logo
      float: none
      margin: 30px 0 15px
      width: 140px
      height: 140px
    h1
      font-size: 2em
    h2
      display: block
    .button
      font-size: .9em     
    & p
      justify-content: center
    .button
      .fa
        font-size: 16px;
        line-height: 6px;
  #special-sponsor
    span
      display: block
    img
      width: 125px
  #highlights
    .inner
      padding: 90px 0
      .point
        display: block
        margin: 20px auto
        width: 300px
        padding: 30px 40px 30px
  #footer
    .social-icon
      margin: 0 10px
  #uuoswallet
    padding: 0
    .point-title
      &:before
        content: ''
  #mobile
    .mobileup
      flex-wrap: wrap
      margin: 9em 0 0
      height: 18em
      .mobileleft
        position: relative;
        top: -150%
        &:after
          content: ''
        .uuosmobile-content
          &:after
            bottom: -2em
      .mobileright
        position: relative
        top: -80%
        width: 20em
        .mobileimg
          width: 20em
  #desktop
    padding-top: 4em
    .desktopup
      flex-wrap: wrap-reverse
      height: 25em
      margin-bottom: 5em
      .desktopleft
        position: relative
        top: 35%
        width: 25em
        .mobileimg
          top: 0
          width: 25em
      .desktopright
        position: relative
        top: 3em
        .uuosdesktop
          text-align: right
        .uuosdesktop-content
          text-align: right
          &:after
            content: ''
            bottom: -2em;
            left: 77%

  .download-section
    padding-top: 5em

@media screen and (min-width: 1440px) and (max-width: 1600px)
  #hero .i-left
    max-width: 580px

@media screen and (min-width: 2000px)
  #hero
    background-position-y: 85%
    .i-left
      max-width: 1050px
    .i-right
      max-width: 700px
  