<div class="banner-wrapper">
    <div class="banner-content">
        <h1 class="banner-title">Bulletin board</h1>
        
    </div>
</div>
<div class="bl-wrapper">
    <div class="bl-content">
        <div class="bl-item">
            <div class="bl-square">
                <div class="bl-date">14</div>
                <div class="bl-month">2019.1</div>
            </div>
            <div class="bl-item-content">
                <h2 class="bl-item-title">
                    文本信息文本信息
                </h2>
                <div class="bl-item-text">
                    文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息
                </div>
            </div>
        </div>

        <div class="bl-item">
            <div class="bl-square">
                <div class="bl-date">14</div>
                <div class="bl-month">2019.1</div>
            </div>
            <div class="bl-item-content">
                <h2 class="bl-item-title">
                    文本信息文本信息
                </h2>
                <div class="bl-item-text">
                    文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息
                </div>
            </div>
        </div>

        <div class="bl-item">
            <div class="bl-square">
                <div class="bl-date">14</div>
                <div class="bl-month">2019.1</div>
            </div>
            <div class="bl-item-content">
                <h2 class="bl-item-title">
                    文本信息文本信息
                </h2>
                <div class="bl-item-text">
                    文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息文本信息
                </div>
            </div>
        </div>
    </div>
    <div class="pageno-wrapper">
        <div class="pageno-content">
            <a href="#"><i class="fa fa-angle-left"></i></a>
            <a class="page" href="#">1</a>
            <a class="page" href="#">2</a>
            <a class="page" href="#">3</a>
            <a class="page" href="#">4</a>
            <a href="#"><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>