<div id="intro">
    <div class="intro-content">
        <div class="item-1">
            <img src="<%- url_for("/images/logo_download.png") %>">
        </div>
        <h1>Download UUOS APP</h1>
        <div class="item-2">
            <div class="download">
                <div class="dlbutton"><i class="fa fa-apple fa-2x"></i><a href="#">IOS</a></div>
                <div class="dlbutton"><i class="fa fa-android fa-2x"></i><a href="#">Android</a></div>
                <div class="dlbutton"><i class="fa fa-windows fa-2x"></i><a href="#">Windows</a></div>
                <div class="dlbutton"><i class="fa fa-apple fa-2x"></i><a href="#">Mac</a></div>
                <div class="dlbutton"><i class="fa fa-linux fa-2x"></i><a href="#">Linux</a></div>
            </div>
            <div class="QRcode">
                <img src="<%- url_for("/images/QRcode.png") %>">
            </div>
        </div>
    </div>
</div>