<div id="intro">
    <div class="intro-content">
        <div class="item-1">
            <img src="<%- url_for("/images/logo_download.png") %>">
        </div>
        <h1>下载UUOS APP</h1>
        <div class="item-2">
            <div class="download">
                <div class="dlbutton"><i class="fa fa-apple fa-2x"></i><a href="#">苹果版下载</a></div>
                <div class="dlbutton"><i class="fa fa-android fa-2x"></i><a href="#">安卓版下载</a></div>
            </div>
            <div class="QRcode">
                <img src="<%- url_for("/images/QRcode.png") %>">
            </div>
        </div>
    </div>
</div>