<li class="nav-dropdown-container language">
  <a class="nav-link">Language</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("/index_cn.html") %>" class="nav-link">中文</a></li>
    
  </ul>
</li>
