

<div class="r-banner">
    
</div>
<div id="roadmap" class="roadmap">
    <h2>项目历程</h2>
    <div class="line3"></div>
    <div class="container hidden-xs hidden-md" style="width: 94%;  position: relative;overflow: hidden;margin-bottom: 20px">
            <div class="line1 hidden-pc hidden-md"></div>
            <div class="line2 hidden-pc hidden-md"></div>
            <div class="step-list1 list1" >
                <div class="dateline">2017.08 - 2017.12</div> 
                <div class="left"><div class="square square1"></div></div>
                <div class="right">
                    
                    <div class="step-txt"  style="width: 100%">
                        <p class="txt-list"><span>8-26：</span>在Eos上集成Python交互式控制台</p>
                        <p class="txt-list"><span>9-14：</span>第一条HellowWorld版本的Python智能合约代码得以在基于Eos平台的区块链上运行</p>
                        <p class="txt-list"><span>12-21：</span>开始集成micropython虚拟机</p>
    
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="step-list1">
                <div class="dateline">2018.03 - 2018.05</div> 
                <div class="left"><div class="square square1"></div></div>
                <div class="right">
                    
                    <div class="step-txt"  style="width: 100%">
                        <p class="txt-list"><span>3-18：</span>开始集成以太坊智能合约虚拟机EVM</p>
                        <p class="txt-list"><span>3-20：</span>以太坊智能合约成功运行在基于Eos的平台上</p>
                        <p class="txt-list"><span>4-10：</span>开始支持智能合约运程执行，用Python代码实现</p>
                        <p class="txt-list"><span>4-13：</span>实现read only版本的database C API接口</p>
                        <p class="txt-list"><span>4-15：</span>实现Go版本的智能合约运程执行接口</p>
                        <p class="txt-list"><span>5-21：</span>实现C++版本的智能合约运程执行接口</p>
    
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="step-list1">
                <div class="dateline">2018.06</div> 
                <div class="left"><div class="square square1"></div></div>
                <div class="right">
                  
                    <div class="step-txt"  style="width: 100%">
                        <p class="txt-list"><span>6-04：</span>提出通用VM API接口的概念，方便集成新的VM</p>
                        <p class="txt-list"><span>6-05：</span>
                            通过通用VM API接口成功实现把C++智能合约代码编译成native code并执行，方便C++智能合约的调试，主程序或者plugin与智能合约的交互变得更加方便简单</p>
                        <p class="txt-list"><span>6-07：</span>实现所有VM通过vm_manager来进行统一管理，抽象出5个C API接口来方便新虚拟机的集成</p>
                        <p class="txt-list"><span>6-21：</span>支持所有库编译成动态库</p>
                        <p class="txt-list"><span>6-29：</span>提出预加载的概念，Node或者BP启动时可以通过多个线程来以JIT的方式加载合约的代码，加快合约的执行速度</p>
    
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="step-list1">
                <div class="dateline">2018.07 - 2018.09</div> 
                <div class="left"><div class="square square1"></div></div>
                <div class="right">
                    
                    <div class="step-txt"  style="width: 100%">
                        <p class="txt-list"><span>7-02：</span>将JIT模式当成一种有限资源，可以像帐户名一样通过竞价获取</p>
                        <p class="txt-list"><span>7-05：</span>重构IPC接口</p>
                        <p class="txt-list"><span>8-18：</span>重构EVM虚拟机接口</p>
                        <p class="txt-list"><span>8-27：</span>支持Lua作为智能合约语言</p>
                        <p class="txt-list"><span>9-06：</span>支持Java作为智能合约语言</p>
    
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>    
        </div>
    <div class="container hidden-lg hidden-md" style="width: 94%;  position: relative;overflow: hidden;margin-bottom: 20px">
            <div class="line1 hidden-lg hidden-md"></div>
            <div class="step-list1 list1" >
                <div class="left"><div class="square square1"></div></div>
                <div class="right">
                    <p class="date">2017.08 - 2017.12</p>
                    <div class="step-txt"  style="width: 100%">
                        <p class="txt-list"><span>8-26：</span>在Eos上集成Python交互式控制台</p>
                        <p class="txt-list"><span>9-14：</span>第一条HellowWorld版本的Python智能合约代码得以在基于Eos平台的区块链上运行</p>
                        <p class="txt-list"><span>12-21：</span>开始集成micropython虚拟机</p>
    
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="step-list1">
                <div class="left"><div class="square square1"></div></div>
                <div class="right">
                    <p class="date">2018.03 - 2018.05</p>
                    <div class="step-txt"  style="width: 100%">
                        <p class="txt-list"><span>3-18：</span>开始集成以太坊智能合约虚拟机EVM</p>
                        <p class="txt-list"><span>3-20：</span>以太坊智能合约成功运行在基于Eos的平台上</p>
                        <p class="txt-list"><span>4-10：</span>开始支持智能合约运程执行，用Python代码实现</p>
                        <p class="txt-list"><span>4-13：</span>实现read only版本的database C API接口</p>
                        <p class="txt-list"><span>4-15：</span>实现Go版本的智能合约运程执行接口</p>
                        <p class="txt-list"><span>5-21：</span>实现C++版本的智能合约运程执行接口</p>
    
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="step-list1">
                <div class="left"><div class="square square1"></div></div>
                <div class="right">
                    <p class="date">2018.06</p>
                    <div class="step-txt"  style="width: 100%">
                        <p class="txt-list"><span>6-04：</span>提出通用VM API接口的概念，方便集成新的VM</p>
                        <p class="txt-list"><span>6-05：</span>
                            通过通用VM API接口成功实现把C++智能合约代码编译成native code并执行，方便C++智能合约的调试，主程序或者plugin与智能合约的交互变得更加方便简单</p>
                        <p class="txt-list"><span>6-07：</span>实现所有VM通过vm_manager来进行统一管理，抽象出5个C API接口来方便新虚拟机的集成</p>
                        <p class="txt-list"><span>6-21：</span>支持所有库编译成动态库</p>
                        <p class="txt-list"><span>6-29：</span>提出预加载的概念，Node或者BP启动时可以通过多个线程来以JIT的方式加载合约的代码，加快合约的执行速度</p>
    
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="step-list1">
                <div class="left"><div class="square square1"></div></div>
                <div class="right">
                    <p class="date">2018.07 - 2018.09</p>
                    <div class="step-txt"  style="width: 100%">
                        <p class="txt-list"><span>7-02：</span>将JIT模式当成一种有限资源，可以像帐户名一样通过竞价获取</p>
                        <p class="txt-list"><span>7-05：</span>重构IPC接口</p>
                        <p class="txt-list"><span>8-18：</span>重构EVM虚拟机接口</p>
                        <p class="txt-list"><span>8-27：</span>支持Lua作为智能合约语言</p>
                        <p class="txt-list"><span>9-06：</span>支持Java作为智能合约语言</p>
    
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>    
        </div>
</div>

<div id="roadmap" class="roadmap">
        <h2>未来规划</h2>
        <div class="line3"></div>
        <div class="container hidden-xs hidden-md" style="width: 94%;  position: relative;overflow: hidden;margin-bottom: 20px">
                <div class="line1 hidden-pc hidden-md"></div>
                <div class="line2 hidden-pc hidden-md"></div>
                <div class="step-list1 list1" >
                    <div class="dateline">2018 Q4</div> 
                    <div class="left"><div class="square square1"></div></div>
                    <div class="right">
                        
                        <div class="step-txt"  style="width: 100%">
                            <p class="txt-list"><span>1.</span>UUOS代码安全审计</p>
                            <p class="txt-list"><span>2.</span>启动UUOS生态建设</p>
                            <p class="txt-list"><span>3.</span>UUOS测试网上线</p>
                            <p class="txt-list"><span>4.</span>UUOS白皮书发布</p>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="step-list1">
                    <div class="dateline">2019 Q1</div> 
                    <div class="left"><div class="square square1"></div></div>
                    <div class="right">
                        
                        <div class="step-txt"  style="width: 100%">
                            <p class="txt-list"><span>1.</span>UUOS智能钱包发布</p>
                            <p class="txt-list"><span>2.</span>UUOS代码安全验证</p>
                            <p class="txt-list"><span>3.</span>与DAPP开发者签署合作开发协议</p>
                            <p class="txt-list"><span>4.</span>UUOS主网1.0发布</p>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="step-list1">
                    <div class="dateline">2019 Q2</div> 
                    <div class="left"><div class="square square1"></div></div>
                    <div class="right">
                        
                        <div class="step-txt"  style="width: 100%">
                            <p class="txt-list"><span>1.</span>UUOS主网2.0发布</p>
                            <p class="txt-list"><span>2.</span>UUOS DAPP STORE上线</p>
                            <p class="txt-list"><span>3.</span>进入DAPP的密集开发阶段</p>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="step-list1">
                    <div class="dateline">2019 Q3</div> 
                    <div class="left"><div class="square square1"></div></div>
                    <div class="right">
                        
                        <div class="step-txt"  style="width: 100%">
                            <p class="txt-list"><span>1.</span>UUOS生态初步建成</p>
                            <p class="txt-list"><span>2.</span>DAPP开发活跃</p>
                            <p class="txt-list"><span>3.</span>UUOS在基础链领域掌握较大话语权</p>
        
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>    
            </div>
        <div class="container hidden-lg hidden-md" style="width: 94%;  position: relative;overflow: hidden;margin-bottom: 20px">
                <div class="line1 hidden-lg hidden-md"></div>
                <div class="step-list1 list1" >
                    <div class="left"><div class="square square1"></div></div>
                    <div class="right">
                        <p class="date">2018 Q4</p>
                        <div class="step-txt"  style="width: 100%">
                                <p class="txt-list"><span>1.</span>UUOS代码安全审计</p>
                                <p class="txt-list"><span>2.</span>启动UUOS生态建设</p>
                                <p class="txt-list"><span>3.</span>UUOS测试网上线</p>
                                <p class="txt-list"><span>4.</span>UUOS白皮书发布</p>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="step-list1">
                    <div class="left"><div class="square square1"></div></div>
                    <div class="right">
                        <p class="date">2019 Q1</p>
                        <div class="step-txt"  style="width: 100%">
                                <p class="txt-list"><span>1.</span>UUOS智能钱包发布</p>
                                <p class="txt-list"><span>2.</span>UUOS代码安全验证</p>
                                <p class="txt-list"><span>3.</span>与DAPP开发者签署合作开发协议</p>
                                <p class="txt-list"><span>4.</span>UUOS主网1.0发布</p>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="step-list1">
                    <div class="left"><div class="square square1"></div></div>
                    <div class="right">
                        <p class="date">2019 Q2</p>
                        <div class="step-txt"  style="width: 100%">
                                <p class="txt-list"><span>1.</span>UUOS主网2.0发布</p>
                                <p class="txt-list"><span>2.</span>UUOS DAPP STORE上线</p>
                                <p class="txt-list"><span>3.</span>进入DAPP的密集开发阶段</p>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="step-list1">
                    <div class="left"><div class="square square1"></div></div>
                    <div class="right">
                        <p class="date">2019 Q3</p>
                        <div class="step-txt"  style="width: 100%">
                                <p class="txt-list"><span>1.</span>UUOS生态初步建成</p>
                                <p class="txt-list"><span>2.</span>DAPP开发活跃</p>
                                <p class="txt-list"><span>3.</span>UUOS在基础链领域掌握较大话语权</p>
            
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>    
            </div>
</div>        