

<div class="r-banner">
    
</div>
<div id="roadmap" class="roadmap">
    <h2>Roadmap</h2>
    <div class="line3"></div>
    <div class="container hidden-xs hidden-md" style="width: 94%;  position: relative;overflow: hidden;margin-bottom: 20px">
            <div class="line1 hidden-pc hidden-md"></div>
            <div class="line2 hidden-pc hidden-md"></div>
            <div class="step-list1 list1" >
                <div class="dateline">2017.08 - 2017.12</div> 
                <div class="left"><div class="square square1"></div></div>
                <div class="right">
                    
                    <div class="step-txt"  style="width: 100%">
                        <p class="txt-list"><span>8-26：</span>Integrate Python interactive console into Eos</p>
                        <p class="txt-list"><span>9-14：</span>The first HelloWorld version of the Python smart contract code ran on the blockchain based on the Eos platform</p>
                        <p class="txt-list"><span>12-21：</span>Start integrating micropython VM</p>
    
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="step-list1">
                <div class="dateline">2018.03 - 2018.05</div> 
                <div class="left"><div class="square square1"></div></div>
                <div class="right">
                    
                    <div class="step-txt"  style="width: 100%">
                        <p class="txt-list"><span>3-18：</span>Start integrating the Ethereum smart contract VM - EVM</p>
                        <p class="txt-list"><span>3-20：</span>Ethereum smart contract successfully ran on the blockchain based on the Eos platform</p>
                        <p class="txt-list"><span>4-10：</span>Start supporting smart contract execution, implemented in Python</p>
                        <p class="txt-list"><span>4-13：</span>Implement database C API interface of read-only version</p>
                        <p class="txt-list"><span>4-15：</span>Implement the smart contract execution interface of Go version</p>
                        <p class="txt-list"><span>5-21：</span>Implement the smart contract execution interface of C++ version</p>
    
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="step-list1">
                <div class="dateline">2018.06</div> 
                <div class="left"><div class="square square1"></div></div>
                <div class="right">
                  
                    <div class="step-txt"  style="width: 100%">
                        <p class="txt-list"><span>6-04：</span>Propose the concept of general VM API interface to make it easy to integrate new VMs</p>
                        <p class="txt-list"><span>6-05：</span>Successfully compile C++ smart contract code to native code and execute it through the generic VM API interface, which is convenient to debug C++ smart contract, and it makes the interaction between main program or plugin and smart contracts more simple and convenient</p>
                        <p class="txt-list"><span>6-07：</span>Realize unified management of all VMs through vm_manager, and abstract 5 C API interfaces to facilitate the integration of new virtual machines</p>
                        <p class="txt-list"><span>6-21：</span>Support all libraries compiled to dynamic libraries</p>
                        <p class="txt-list"><span>6-29：</span>Propose the concept of preloading. When Node or BP starts，the contract code can be loaded in JIT mode through multiple threads, which improves the execution speed of the contract</p>
    
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="step-list1">
                <div class="dateline">2018.07 - 2018.09</div> 
                <div class="left"><div class="square square1"></div></div>
                <div class="right">
                    
                    <div class="step-txt"  style="width: 100%">
                        <p class="txt-list"><span>7-02：</span>Treat JIT model as a limited resource, which can be obtained through auctions like an account name</p>
                        <p class="txt-list"><span>7-05：</span>Reconstruct IPC interface</p>
                        <p class="txt-list"><span>8-18：</span>Reconstruct EVM interface</p>
                        <p class="txt-list"><span>8-27：</span>Support Lua as a smart contract language</p>
                        <p class="txt-list"><span>9-06：</span>Support Java as a smart contract language</p>
    
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>    
        </div>
    <div class="container hidden-lg hidden-md" style="width: 94%;  position: relative;overflow: hidden;margin-bottom: 20px">
            <div class="line1 hidden-lg hidden-md"></div>
            <div class="step-list1 list1" >
                <div class="left"><div class="square square1"></div></div>
                <div class="right">
                    <p class="date">2017.08 - 2017.12</p>
                    <div class="step-txt"  style="width: 100%">
                        <p class="txt-list"><span>8-26：</span>Integrate Python interactive console into Eos</p>
                        <p class="txt-list"><span>9-14：</span>The first HelloWorld version of the Python smart contract code ran on the blockchain based on the Eos platform</p>
                        <p class="txt-list"><span>12-21：</span>Start integrating micropython VM</p>
    
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="step-list1">
                <div class="left"><div class="square square1"></div></div>
                <div class="right">
                    <p class="date">2018.03 - 2018.05</p>
                    <div class="step-txt"  style="width: 100%">
                        <p class="txt-list"><span>3-18：</span>Start integrating the Ethereum smart contract VM - EVM</p>
                        <p class="txt-list"><span>3-20：</span>Ethereum smart contract successfully ran on the blockchain based on the Eos platform</p>
                        <p class="txt-list"><span>4-10：</span>Start supporting smart contract execution, implemented in Python</p>
                        <p class="txt-list"><span>4-13：</span>Implement database C API interface of read-only version</p>
                        <p class="txt-list"><span>4-15：</span>Implement the smart contract execution interface of Go version</p>
                        <p class="txt-list"><span>5-21：</span>Implement the smart contract execution interface of C++ version</p>
    
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="step-list1">
                <div class="left"><div class="square square1"></div></div>
                <div class="right">
                    <p class="date">2018.06</p>
                    <div class="step-txt"  style="width: 100%">
                        <p class="txt-list"><span>6-04：</span>Propose the concept of general VM API interface to make it easy to integrate new VMs</p>
                        <p class="txt-list"><span>6-05：</span>
                            Successfully compile C++ smart contract code to native code and execute it through the generic VM API interface, which is convenient to debug C++ smart contract, and it makes the interaction between main program or plugin and smart contracts more simple and convenient</p>
                        <p class="txt-list"><span>6-07：</span>Realize unified management of all VMs through vm_manager, and abstract 5 C API interfaces to facilitate the integration of new virtual machines</p>
                        <p class="txt-list"><span>6-21：</span>Support all libraries compiled to dynamic libraries</p>
                        <p class="txt-list"><span>6-29：</span>Propose the concept of preloading. When Node or BP starts，the contract code can be loaded in JIT mode through multiple threads, which improves the execution speed of the contract</p>
    
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="step-list1">
                <div class="left"><div class="square square1"></div></div>
                <div class="right">
                    <p class="date">2018.07 - 2018.09</p>
                    <div class="step-txt"  style="width: 100%">
                        <p class="txt-list"><span>7-02：</span>Treat JIT model as a limited resource, which can be obtained through auctions like an account name</p>
                        <p class="txt-list"><span>7-05：</span>Reconstruct IPC interface</p>
                        <p class="txt-list"><span>8-18：</span>Reconstruct EVM interface</p>
                        <p class="txt-list"><span>8-27：</span>Support Lua as a smart contract language</p>
                        <p class="txt-list"><span>9-06：</span>Support Java as a smart contract language</p>
    
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>    
        </div>
</div>

<div id="roadmap" class="roadmap">
        <h2>Future plan</h2>
        <div class="line3"></div>
        <div class="container hidden-xs hidden-md" style="width: 94%;  position: relative;overflow: hidden;margin-bottom: 20px">
                <div class="line1 hidden-pc hidden-md"></div>
                <div class="line2 hidden-pc hidden-md"></div>
                <div class="step-list1 list1" >
                    <div class="dateline">2018 Q4</div> 
                    <div class="left"><div class="square square1"></div></div>
                    <div class="right">
                        
                        <div class="step-txt"  style="width: 100%">
                            <p class="txt-list"><span>1.</span>UUOS code security audit</p>
                            <p class="txt-list"><span>2.</span>Start UUOS ecological construction</p>
                            <p class="txt-list"><span>3.</span>UUOS test network goes live</p>
                            <p class="txt-list"><span>4.</span>Publish UUOS white paper</p>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="step-list1">
                    <div class="dateline">2019 Q1</div> 
                    <div class="left"><div class="square square1"></div></div>
                    <div class="right">
                        
                        <div class="step-txt"  style="width: 100%">
                            <p class="txt-list"><span>1.</span>Publish UUOS smart wallet</p>
                            <p class="txt-list"><span>2.</span>UUOS code safety verification</p>
                            <p class="txt-list"><span>3.</span>Sign cooperative development agreements with DAPP developers</p>
                            <p class="txt-list"><span>4.</span>Publish UUOS main network 1.0</p>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="step-list1">
                    <div class="dateline">2019 Q2</div> 
                    <div class="left"><div class="square square1"></div></div>
                    <div class="right">
                        
                        <div class="step-txt"  style="width: 100%">
                            <p class="txt-list"><span>1.</span>Publish UUOS main network 2.0</p>
                            <p class="txt-list"><span>2.</span>UUOS DAPP STORE goes live</p>
                            <p class="txt-list"><span>3.</span>Enter DAPP's intensive development phase</p>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="step-list1">
                    <div class="dateline">2019 Q3</div> 
                    <div class="left"><div class="square square1"></div></div>
                    <div class="right">
                        
                        <div class="step-txt"  style="width: 100%">
                            <p class="txt-list"><span>1.</span>UUOS ecology begins to take shape</p>
                            <p class="txt-list"><span>2.</span>DAPP's development becomes active</p>
                            <p class="txt-list"><span>3.</span>UUOS has its voice in the field of basic chain</p>
        
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>    
            </div>
        <div class="container hidden-lg hidden-md" style="width: 94%;  position: relative;overflow: hidden;margin-bottom: 20px">
                <div class="line1 hidden-lg hidden-md"></div>
                <div class="step-list1 list1" >
                    <div class="left"><div class="square square1"></div></div>
                    <div class="right">
                        <p class="date">2018 Q4</p>
                        <div class="step-txt"  style="width: 100%">
                                <p class="txt-list"><span>1.</span>UUOS code security audit</p>
                                <p class="txt-list"><span>2.</span>Start UUOS ecological construction</p>
                                <p class="txt-list"><span>3.</span>UUOS test network goes live</p>
                                <p class="txt-list"><span>4.</span>Publish UUOS white paper</p>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="step-list1">
                    <div class="left"><div class="square square1"></div></div>
                    <div class="right">
                        <p class="date">2019 Q1</p>
                        <div class="step-txt"  style="width: 100%">
                                <p class="txt-list"><span>1.</span>Publish UUOS smart wallet</p>
                                <p class="txt-list"><span>2.</span>UUOS code safety verification</p>
                                <p class="txt-list"><span>3.</span>Sign cooperative development agreements with DAPP developers</p>
                                <p class="txt-list"><span>4.</span>Publish UUOS main network 1.0</p>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="step-list1">
                    <div class="left"><div class="square square1"></div></div>
                    <div class="right">
                        <p class="date">2019 Q2</p>
                        <div class="step-txt"  style="width: 100%">
                                <p class="txt-list"><span>1.</span>Publish UUOS main network 2.0</p>
                                <p class="txt-list"><span>2.</span>UUOS DAPP STORE goes live</p>
                                <p class="txt-list"><span>3.</span>Enter DAPP's intensive development phase</p>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="step-list1">
                    <div class="left"><div class="square square1"></div></div>
                    <div class="right">
                        <p class="date">2019 Q3</p>
                        <div class="step-txt"  style="width: 100%">
                                <p class="txt-list"><span>1.</span>UUOS ecology begins to take shape</p>
                                <p class="txt-list"><span>2.</span>DAPP's development becomes active</p>
                                <p class="txt-list"><span>3.</span>UUOS has its voice in the field of basic chain</p>
            
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>    
            </div>
</div>        