<div class="sidebar">
  <div class="sidebar-inner">
    <ul class="main-menu">
      <% if (page.type === 'indexcn' || page.type === 'devcn' || page.type === 'source_en') { %>
        <%- partial('partials/main_menu_en', { context: 'sidebar' }) %>
      <% } else { %>
        <%- partial('partials/main_menu', { context: 'sidebar' }) %>
      <% } %>
    </ul>
    <div class="list">
      
      <% if (type !== 'search') { %>
        <%- partial('partials/toc', { type: type }) %>
      <% } %>
    </div>
  </div>
</div>  
